
.card {
  position: relative;
  display: inline-block;
  margin: .5rem;
  padding: 1rem;
  background: #fff;
  font-size: 0;
  cursor: pointer;
}

.card:after {
  counter-increment: card;
  content: counter(card);

  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: #888;
  font-size: .5rem;
  text-align: center;
}

.card .kana {
  position: relative;
  display: inline-block;
  width:  125px;
  height: 125px;
  background-color: #dfdfdf;
  background-position-y: -10px;
  zoom: .8;
}

.card .kana:after {
  position: absolute;
  content: ' ';
  left: 17.5px;
  top: 17.5px;
  width:  90px;
  height: 90px;
  background-position-x: inherit;
  background-position-y: inherit;
  mix-blend-mode: multiply;
}

.card .kana + .kana {
  margin-left: 1rem;
}

.card .roma {
  position: absolute;
  display: block;
  bottom: 0;
  right: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: .5rem;
  text-align: right;
  text-transform: uppercase;
}


.card[class*="_j"]  .kana:after,
.card[class*="_ky"] .kana:after,
.card[class*="_sy"] .kana:after,
.card[class*="_ty"] .kana:after,
.card[class*="_ny"] .kana:after,
.card[class*="_hy"] .kana:after,
.card[class*="_my"] .kana:after,
.card[class*="_ry"] .kana:after,
.card[class*="_gy"] .kana:after,
.card[class*="_by"] .kana:after,
.card[class*="_py"] .kana:after {
  left: 0px;
  width: 125px;
}

.card .hira:after {
  background-image: url(https://www.nhk.or.jp/lesson/common/images/character_hira1.gif)
}

.card .kata:after {
  background-image: url(https://www.nhk.or.jp/lesson/common/images/character_kata1.gif)
}

.card[class*="_g"]  .hira:after,
.card[class*="_d"]  .hira:after,
.card[class*="_z"]  .hira:after,
.card[class*="_b"]  .hira:after,
.card[class*="_p"]  .hira:after,
.card[class*="_j"]  .hira:after,
.card[class*="_ky"] .hira:after,
.card[class*="_sy"] .hira:after,
.card[class*="_ty"] .hira:after,
.card[class*="_ny"] .hira:after,
.card[class*="_hy"] .hira:after,
.card[class*="_my"] .hira:after,
.card[class*="_ry"] .hira:after,
.card[class*="_gy"] .hira:after,
.card[class*="_by"] .hira:after,
.card[class*="_py"] .hira:after {
  background-image: url(https://www.nhk.or.jp/lesson/common/images/character_hira2.gif)
}

.card[class*="_g"]  .kata:after,
.card[class*="_d"]  .kata:after,
.card[class*="_z"]  .kata:after,
.card[class*="_b"]  .kata:after,
.card[class*="_p"]  .kata:after,
.card[class*="_j"]  .kata:after,
.card[class*="_ky"] .kata:after,
.card[class*="_sy"] .kata:after,
.card[class*="_ty"] .kata:after,
.card[class*="_ny"] .kata:after,
.card[class*="_hy"] .kata:after,
.card[class*="_my"] .kata:after,
.card[class*="_ry"] .kata:after,
.card[class*="_gy"] .kata:after,
.card[class*="_by"] .kata:after,
.card[class*="_py"] .kata:after {
  background-image: url(https://www.nhk.or.jp/lesson/common/images/character_kata2.gif)
}

.card[class$="a"] .kana { background-position-x: -5px; }
.card[class$="i"] .kana { background-position-x: -120px; }
.card[class$="u"] .kana { background-position-x: -235px; }
.card[class$="e"] .kana { background-position-x: -345px; }
.card[class$="o"] .kana { background-position-x: -460px; }

.card[class$="_ya"] .kana { background-position-x: -5px !important; }
.card[class$="_yu"] .kana { background-position-x: -235px !important; }
.card[class$="_yo"] .kana { background-position-x: -460px !important; }



.card[class*="_k"] .kana { background-position-y: -155px; }
.card[class*="_g"] .kana { background-position-y: -5px; }

.card[class*="_s"] .kana { background-position-y: -300px; }
.card[class*="_z"] .kana { background-position-y: -155px; }

.card[class*="_t"] .kana { background-position-y: -445px; }
.card[class*="_d"] .kana { background-position-y: -300px; }

.card[class*="_n"] .kana { background-position-y: -592px; }

.card[class*="_h"] .kana { background-position-y: -740px; }
.card[class*="_b"] .kana { background-position-y: -445px; }
.card[class*="_p"] .kana { background-position-y: -592px; }

.card[class*="_m"] .kana { background-position-y: -885px; }

.card[class*="_y"] .kana { background-position-y: -1030px; }

.card[class*="_r"] .kana { background-position-y: -1175px; }

.card[class*="_w"] .kana { background-position-y: -1325px; }


.card[class$="ya"] .kana { background-position-x: -10px; }
.card[class$="yu"] .kana { background-position-x: -225px; }
.card[class$="yo"] .kana { background-position-x: -435px; }

.card[class*="_ky"] .kana { background-position-y: -750px; }
.card[class*="_gy"] .kana { background-position-y: -1775px; }

.card[class*="_sy"] .kana { background-position-y: -900px; }
.card[class*="_j"]  .kana { background-position-y: -1920px; }

.card[class*="_ty"] .kana { background-position-y: -1045px; }

.card[class*="_ny"] .kana { background-position-y: -1190px; }
.card[class*="_hy"] .kana { background-position-y: -1335px; }
.card[class*="_by"] .kana { background-position-y: -2060px; }
.card[class*="_py"] .kana { background-position-y: -2210px; }
.card[class*="_my"] .kana { background-position-y: -1480px; }
.card[class*="_ry"] .kana { background-position-y: -1630px; }