.group {
  display: flex;
  flex-wrap: wrap;
}

.group + .group {
  margin-top: 2em;
}

.group > .title {
  width: 100%;
  margin-bottom: .5em;
  padding-bottom: .25em;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  font-weight: bold;
  text-align: right;
  cursor: pointer;
}

.group > .group > .title {
  border: none;
  font-size: .85em;
  font-style: italic;
  font-weight: normal;
  opacity: .6;
}

.group > .title:empty {
  display: none;
}

.group > * {
  width: calc(50% - .25em);
}

.group > * {
  margin-bottom: .5em;
}

.group > *:nth-child(even) {
  margin-right: .5em;
}

.group > .group {
  width: 100%;
  margin-right: 0;
}

.group .slider + .switch, .group .slider + .switch + .switch {
  margin-top: .25em;
}
